.intro {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqkqqZb1w0Hftv24na4ZJALzL0Wu3igKK0o91-LKSs1hI26D542kXrqtVueTRXZxoo2H8&usqp=CAU");
    background-size: 1150px 200px;
    color: white;
    padding: 6px;
    margin: 30px;
}
h1 {
    text-align: center;
    color: white;
}
p {
    text-align: center;
}
form {
    text-align: center;
}
body {
    text-align: center;
}
#toppings {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/16/fa/e2/af/yummy.jpg");
    background-size: 1150px 450px;
    color: white;
    padding: 6px;
    margin: 30px;
}
#size {
    background-image: url("https://lh5.googleusercontent.com/p/AF1QipNmwvFZwEYP6GjgjlwwjZWmQj36M1ozOkqU84WC=w400-h300-k-no");
    background-size: 500px 200px;
    color: white;
    padding: 6px;
    margin: 30px;
}
#crust {
    background-image: url("https://lh5.googleusercontent.com/p/AF1QipNmwvFZwEYP6GjgjlwwjZWmQj36M1ozOkqU84WC=w400-h300-k-no");
    background-size: 500px 200px;
    color: white;
    padding: 6px;
    margin: 30px;
}
#delivery {
    background-image: url("https://image.shutterstock.com/image-photo/all-meat-pizza-that-will-260nw-1405926455.jpg");
    background-size: 210px 100px;
    color: white;
    padding: 6px;
    margin: 30px;
}