.intro {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqkqqZb1w0Hftv24na4ZJALzL0Wu3igKK0o91-LKSs1hI26D542kXrqtVueTRXZxoo2H8&usqp=CAU");
    background-size: 1150px 200px;
    color: white;
    padding: 6px;
    margin: 30px;
}